<div class="hero">
  <h1>Do I need an umbrella today?</h1>

  <div class="box">
    <div class="search">
        <input type="text" class="searchTerm" placeholder="Your city or zipcode">
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
       </button>
     </div>
  </div>
</div>